{% extends 'base.html' %}

{% block content %}
<h1>Rutas de operación</h1>
<br>
<div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4">
        <div class="card">
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1HrPAkSl8YlIRKMDonhyxLVAjGzADgh8&ehbc=2E312F"
                width="640" height="480"></iframe>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1qqCQfAT7F9ni_e-F6HYyiSDailGfyes&ehbc=2E312F"
                width="640" height="480"></iframe>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1rtDO3oIja8P2h9v_nAfdK5PcP32W7K4&ehbc=2E312F"
                width="640" height="480"></iframe>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1YTSC5gURkVEP9xdwj_0AyJrW_fpsmB8&ehbc=2E312F"
                width="640" height="480"></iframe>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=14SprkRS7awK-ymG2Ze_2xFrGXDPzsNk&ehbc=2E312F"
                width="640" height="480"></iframe>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1fQPE132uBcA_7uZrfV9Ib_YUODX2WgM&ehbc=2E312F"
                width="640" height="480"></iframe>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1WV0bU5pxe3_Z8Kam-hxhatyFAYp8QiM&ehbc=2E312F"
                width="640" height="480"></iframe>
        </div>
    </div>


    <style>
        iframe {
            max-width: 100%;
            min-height: 540px;
            height: auto;
        }
    </style>
</div>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDApRODgZotqiNsFrZVML187fNEu00An5k&callback=initMap"></script>


{% endblock %}