HTTP/1.1 200 OK
Content-Type: text/xml; charset=utf-8
Content-Length: length

<?xml version="1.0" encoding="utf-8"?>
<soap:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
  <soap:Body>
    <GET_EndedItinerariesHistoryResponse xmlns="http://sonaravl.com/webservices/">
      <GET_EndedItinerariesHistoryResult>
        <status>string</status>
        <description>string</description>
        <error_code>int</error_code>
        <ItsLog>
          <ItLog>
            <regId>long</regId>
            <mId>string</mId>
            <ItId>int</ItId>
            <driver>long</driver>
            <auto>string</auto>
            <timeUnit>string</timeUnit>
            <running>string</running>
            <close>string</close>
            <violations>string</violations>
            <leaveroute>string</leaveroute>
            <canceled>string</canceled>
            <inittime>string</inittime>
            <endtime>string</endtime>
            <regtime>string</regtime>
            <userCanceled>string</userCanceled>
            <comments>string</comments>
            <totalIngresos>int</totalIngresos>
            <totalSalidas>int</totalSalidas>
            <totalBloqueos>int</totalBloqueos>
            <dispatcher>string</dispatcher>
            <ItPointsLog xsi:nil="true" />
          </ItLog>
          <ItLog>
            <regId>long</regId>
            <mId>string</mId>
            <ItId>int</ItId>
            <driver>long</driver>
            <auto>string</auto>
            <timeUnit>string</timeUnit>
            <running>string</running>
            <close>string</close>
            <violations>string</violations>
            <leaveroute>string</leaveroute>
            <canceled>string</canceled>
            <inittime>string</inittime>
            <endtime>string</endtime>
            <regtime>string</regtime>
            <userCanceled>string</userCanceled>
            <comments>string</comments>
            <totalIngresos>int</totalIngresos>
            <totalSalidas>int</totalSalidas>
            <totalBloqueos>int</totalBloqueos>
            <dispatcher>string</dispatcher>
            <ItPointsLog xsi:nil="true" />
          </ItLog>
        </ItsLog>
      </GET_EndedItinerariesHistoryResult>
    </GET_EndedItinerariesHistoryResponse>
  </soap:Body>
</soap:Envelope>