{% extends 'base.html' %}
{% load static %}


{% block content %}


<canvas class = canva id = "idCanva" width="500" height="500" style="position: absolute; border: solid green"></canvas>
<canvas class = canva id = "idCanva2" width="500" height="500" style="position: absolute;border: solid green"></canvas>

<script src = '{% static "js/point.js" %}' ></script>

<script src = '{% static "js/main.js" %}' ></script>

<p style="position: absolute;">Color Rojo: Vehiculo. <br> Color Azul: Nodo o Geocerca.

</p>


{% endblock %}

